<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>一覧</h1>
    <table class="table table-striped">
      <thead>
          <tr>
              <th>id</th>
              <th>タイトル</th>
              <th>著者</th>
              <th>出版社</th>
              <th>ページ数</th>
          </tr>
      </thead>
      <tbody>
          {% for book in books %}
          <tr>
              <td>{{ book[0] }}</td>
              <td>{{ book[1] }}</td>
              <td>{{ book[2] }}</td>
              <td>{{ book[3] }}</td>
              <td>{{ book[4] }}</td>
              <td><a class="edit-link" href="{{url_for('edit_book', id=book[0])}}">編集</a></td>
              <td><a class="delete-link" href="{{url_for('delete_book', id=book[0], title=book[1])}}">削除</a></td>

          </tr>
          {% endfor %}
      </tbody>
    </table>
    <a class="nav-link" href="{{url_for('menu_top')}}">戻る</a>
</body>
</html>